// #portfolio{
//     height: 100vh;
// }
.portfolio__section {
  margin-top: 5rem;
  margin-bottom: 8rem;

  .head-text {
    padding-bottom: 4rem;
  }
}

.portfolio__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.portfolio__item {
  width: 270px;
  flex-direction: column;

  background: #fff;
  padding: 1rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;

  border-radius: 0.5rem;

  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }
  @media screen and (min-width: 2000px) {
    width: 470px;
    padding: 1.25rem;
    border-radius: 0.75rem;
  }
  @media screen and (max-width: 300px) {
    width: 100%;
    margin: 1rem;
  }
}

.portfolio__item-image {
  width: 100%;
  height: 230px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__work-content {
  padding: 0.5rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  text-align: center;

  h4 {
    margin-top: 1rem;
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
      margin-top: 3rem;
    }
  }

  p {
    text-align: center;
    margin-bottom: 0.1rem;
  }
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.app__work-hover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;

  div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    margin: 1rem;
    font-family: var(--font-base);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s ease;
    svg {
      width: 100%;
      height: 100%;
      color: var(--white-color);
    }
  }
}
.portfolio__item-image:hover .app__work-hover {
  opacity: 1;
}
