section{
    background: var(--white-color);
    // height: 100vh;
}

.head__title{
    padding-top: 4rem;
}

.about__text{
    margin-top: 3rem;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    p{
        font-size: 1.1rem;

        span{
            font-weight: 800;
            font-size: 1.1;
            color: var(--secondary-color);
        }
    }
}

@media screen and (max-width:1200px) {
    .about__text{
        width: 70%;
    }
}

@media screen and (max-width:600px) {
    .about__text{
        width: 80%;
    }
}