header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;

  .header__container {
    text-align: center;
    height: 100%;
    position: relative;
  }
}
.home{
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.cta {
  margin-top: 2rem;
  display: flex;
  justify-content: center; 

  a {
    text-decoration: none;
  }

  .app__work-filter-item-1 {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.2rem;
    color: #000;
    font-weight: 800;

    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
    border: 1px solid var(--secondary-color);

    &:hover {
      background-color: var(--secondary-color);
      color: #fff;
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .app__work-filter-item-2 {
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 800;

    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: #fff;
      color: #000;
      border: 1px solid var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;

  &:after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--gray-color);
  }

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }
    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.me {
  background: linear-gradient(#fcaf16, transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding-top: 2rem;
}
img {
  width: 22rem;
  height: 30rem;
}

.scroll__down {
  color: var(--secondary-color);
  position: absolute;
  bottom: 5rem;
  right: -2.3rem;
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 1rem;

  &:hover{
    color: var(--secondary-color);
    font-weight: 800;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
}

.btn-warning {
  background: var(--secondary-color);
  color: var(--white-color);

  &:hover {
    background: rgba(238, 238, 238, 0.1);
  }
}

@media screen and(max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and(max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
