.testimonial__section {
  margin-top: 5rem;
  margin-bottom: 6rem;

  .head-text {
    padding-bottom: 4rem;
  }
}

.container.testimonials__container {
  width: 60%;
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  @media screen and (max-width:600px){
    width: 90%;
  }
}

.app__testimonial-item {
  min-height: 320px;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  transition: all 0.3s ease-in-out;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    min-height: 450px;

    img {
      width: 150px;
      height: 150px;
    }
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    // min-height: 600px;
  }
}
.app__testimonial-content {
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  p {
    height: 8rem;
    padding-right: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
    color: var(--black-color);
    font-family: var(--font-base);

    @media screen and (min-width: 2000px) {
      font-size: 2rem;
      line-height: 3.5rem;
    }
    @media screen and (max-width: 600px) {
      padding: 0;
      height: 10rem;
      justify-content: center;
    }
  }

  h4 {
    font-weight: 600;
    color: var(--secondary-color);
    margin-top: 2rem;
  }

  h5 {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 5px;
  }

  @media screen and (max-width: 600px) {
    margin-top: 1rem;
    padding: 0;
  }
}

.swiper-pagination-clickable .swiper-pagination-bullet-active{
  background: var(--secondary-color);
}